{% extends 'MOSSv2/base.html' %}
{% block body_block %}
{% load static %}
{% load socialaccount %}
<!-- <div class="container">
    <div class="jumbotron">
      {% if error_msg %}
        <span>{{ error_msg }}</span>
      {% endif %}
      <h2>Login here :</h2>
      <form method="post" action="{% url 'moss:user_login' %}">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" id="username" class="form-control" name="username" placeholder="Enter username" value = "{{username}}">
        <label for="password">Password:</label>
        <input type="password" id="password" class="form-control" name="password" placeholder="Password" value = "{{password}}">
        <input type="submit" class="btn btn-submit" name="" value="Login">
      </form>
    </div>
  </div> -->
<section data-aos="fade-up" data-aos-delay="100" style="background-color: whitesmoke; border-radius: 5px; width: 30%;">
{% if user.is_authenticated %}
<div style="color: green; font-family: 'Poppins', sans-serif;">You are logged in!</div>
{% else %}
<h3 style="padding-bottom:10%; font-weight: 600; font-family: 'Poppins', sans-serif;">Login here</h3>
{% if error_msg %}
<div style="color: red; font-family: 'Poppins', sans-serif;">{{ error_msg }}</div>
{% endif %}
<div class="container">
  <div class="row">
    <div class="col-md-12 col-lg-12 d-flex align-items-stretch mb-5 mb-lg-0">
      <form method="post" action="{% url 'moss:user_login' %}" style="width: 100%;">
        {% csrf_token %}
        <!-- <label for="username">Username:</label> -->
        <input type="text" id="username" class="form-control" style="margin-bottom: 5%;" name="username" placeholder="Enter username"
          value="{{username}}">
        <!-- <label for="password">Password:</label> -->
        <input type="password" id="password" class="form-control" style="margin-bottom: 5%;" name="password" placeholder="Enter password"
          value="{{password}}">
        <input type="submit" class="btn btn-primary" name="" value="Login">
        <a href="{% provider_login_url 'google' %}"><img src="{% static "MOSSv2/img/google_login_btn.png" %}" height="40" alt="My image"></a>
      </form>
    </div>
  </div>
  </div>
{% endif %}
</section>
{% endblock %}