{% extends "MOSSv2/base.html" %}
{% load static %}
{% block body_block %}
<div class="container"> 
    <div class="">
        <div class="container">
            <div class="row">
              <div class="col-md-6">
                  <form enctype = "multipart/form-data" action="{% url 'moss:upload_files' %}" method="post">
                    {% csrf_token %}  
                    <div class="form-group files">
                        <label for="file-upload">Upload Your Files</label>
                        <input type="file" name="file" id= "file-upload" class="form-control"  webkitdirectory directory multiple>
                    </div>
                    <input type="submit" class="btn btn-submit" value="Upload">
                  </form>
              </div>
            </div>
        </div>
        <div class = "" style="height: 100px; overflow-y: scroll;">
        {% if msg%}
            <span>{{msg}}</span>
            <ul>
                {% for file in file_list %}
                    <li>{{ file }}</li>
                {% endfor %}
            </ul>
        {%endif%}
        </div>
    </div>
</div>   
{% endblock %}